<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">


    <title>{{ title }} - Fly Away Agency</title>
</head>
<body>
    <header>
        <h1>Fly Away Travel Bookings</h1>
        <hr>
    </header>
    {% for order in orders %}
    <div>
        <p>
            Name: {{order.customer_name}}, Date: {{order.order_date}}, {{order.quantity}}, <b>{{order.destination}}</b>
        </p>
    </div>
    {% endfor %}
</body>
</html>