<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    
    <title>{{ title }} - Fly Away Agency</title>
</head>

<body>
    <header>
        <h1>Fly Away Travel Booking</h1>
    </header>

    <section class="order-details">
        <p>
            {{order.customer_name}}, {{order.order_date}}, {{order.quantity}}, <b>{{order.destination}}</b>
        </p>
    </section>
</body>
</html>